@using Microsoft.AspNet.Identity

<ul class="sign-up">
    <li>@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "register" })</li>
    <li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { })</li>
</ul>

