<div></div>
<div class="modal-content">
    <div class="modal-header">
        <div>
            <h4>Upload</h4>
            <div class="upload-as">
                <span>as</span>
                <div class="js-select js-select-upload-as">
                    <span class="js-select-drop selected"></span>
                    <div class="menu" aria-hidden="true">
                        <ul>
                            <li class="default">Public</li>
                            <li>Private</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <div>
            <button type="button" class="btn btn-default">Cancel</button>
            <button type="button" class="btn btn-primary">Upload</button>
        </div>
    </div>
</div>
